body {
  background-color: lightcyan;
  margin: 5%;
}

.app {
  border: black solid 2px;
  margin: 5px;
  padding: 30px;
}

.container {
  border: solid 2px blue;
  max-width: 600px;
  padding: 15px;
  margin: 20px;
}

.tile {
  border: solid 2px fuchsia;
  max-width: 600px;
  padding: 15px;
  margin: 20px;
}

.selected {
  background-color: green;
}